
# /
/*.sdf
/*.suo
/*.user
/Release
/Debug
/ipch

# /Bin/Release/
/Bin/Release/*.exp
/Bin/Release/*.lastbuildstate
/Bin/Release/*.log
/Bin/Release/*.manifest
/Bin/Release/*.obj
/Bin/Release/*.tlog
/Bin/Release/vc100.pdb
/.HistoryData

/Bin/Release/LSMMySQL.dll.lastcodeanalysissucceeded
/Bin/Release/commands.nativecodeanalysis.xml
/Bin/Release/datatypes.nativecodeanalysis.xml
/Bin/Release/lsmmysql.nativecodeanalysis.xml
/Bin/Release/toplevelobjects.nativecodeanalysis.xml
/Bin/Release/vc.nativecodeanalysis.all.xml
/Bin/Release/vc120.pdb
